{
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "printWidth": 120,
  "arrowParens": "always",
  "overrides": [
    {
      "files": ["*.js", "*.ts", "*.jsx", "*.tsx"],
      "options": {
        "singleQuote": true,
        "printWidth": 100
      }
    }
  ]
}
